.hero_bullet_svg:nth-of-type(2) {
  opacity: 0;
}

/* ==============================
ALL TRANSITIONS 
============================== */

.video_cta_wrap {
  transition: background 150ms ease;
}

.navbar_logo_svg_wrap {
  transition: color 150ms ease;
}

..video_fixed_close_button {
  transition: transform 150ms ease;
}

.navbar_line {
  transition: width 150ms ease;
}


.video_cta_wrap:hover {
  background: var(--accent);
}

*[data-bg-color="dark-textured"] {
  background-image: linear-gradient(#1d1b19f7, #1d1b19f7), url(https://cdn.prod.website-files.com/653638b…/653681d…_faded-background-v7.png);
  background-position: 0 0, 0 0;
  background-repeat: repeat, repeat;
  background-size: auto, 200px;
}


/* ==============================
NAVBAR LINK
============================== */
.navbar_link_item_wrap:hover .navbar_line {
  width: 100%;
} 

/* ==============================
VIDEO FULLSCREEN
============================== */

.video_fixed_close_button:hover {
  transform: scale(1.1);
}

/* ==============================
VIDEO FULLSCREEN
============================== */

/* SMALLER than XX pixels */
@media only screen and (max-width: 767px) {
  .event_pastille_collection_item:nth-child(even) div:not(.event_pastille_img_wrap) {
      order: 2;
  }    
  .event_pastille_collection_item:nth-child(even) .event_pastille_wrap {
      padding: 0 1.5rem 0 0;
  }    
  
}


/* ==============================
RIBBON SECTION EVENTS
============================== */

.section-events .collection-item-event:first-child .ribon-wrapper {
  display: none;
}

.navbar_line[current-page="true"] {
  width: 100%;
}


/* ==============================
RIBBON SECTION EVENTS
============================== */

.section-contacts[data-contact-display="none"] .contact-line, 
.section-contacts[data-contact-display="none"] .contact-bullet-wrapper {
  display: none;
}


.section-contacts[data-contact-display="none"] .padding-v {
  padding: 0 0 8rem 0;    
}