/* ROTATING 360 */


@-webkit-keyframes rotating360 /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating360 {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .main-cta:hover .sparkle-cta,
  .sparkle-menu {
    -webkit-animation: rotating360 3s linear infinite;
    -moz-animation: rotating360 3s linear infinite;
    -ms-animation: rotating360 3s linear infinite;
    -o-animation: rotating360 3s linear infinite;
    animation: rotating360 3s linear infinite;
  }

  .spiky-circle {
    -webkit-animation: rotating360 30s linear infinite;
    -moz-animation: rotating360 30s linear infinite;
    -ms-animation: rotating360 30s linear infinite;
    -o-animation: rotating360 30s linear infinite;
    animation: rotating360 30s linear infinite;
  }

  /* DROP SHADOW AROUND PLAY ICON */


  .video-poster-wrapper .play-icon {
    filter: drop-shadow(0px 0px 44px var(--accent));
  }


  /* MARQUEE ANIMATION */
  @-webkit-keyframes marquee /* Safari and Chrome */ {
      0% {
        -webkit-transform: translateX(0);
      }
    100% {
        -webkit-transform: translateX(-100%);
    }
  }
  @keyframes marquee /* Safari and Chrome */ {
      0% {
        -webkit-transform: translateX(0);
      }
    100% {
        -webkit-transform: translateX(-100%);
    }
  }
  @-webkit-keyframes marquee-reverse /* Safari and Chrome */ {
      0% {
        -webkit-transform: translateX(-100%);
      }
    100% {
        -webkit-transform: translateX(0%);
    }
  }
  @keyframes marquee-reverse /* Safari and Chrome */ {
      0% {
        -webkit-transform: translateX(-100%);
      }
    100% {
        -webkit-transform: translateX(0%);
    }
  }

  .ribon-1 {
    animation: marquee 30s infinite linear;
    webkit-animation: marquee 30s infinite linear;
  }
  .ribon-1._2 {
    animation: marquee-reverse 30s infinite linear;
    webkit-animation: marquee-reverse 30s infinite linear;
  }

  .ribon-text {
    text-shadow: .5px .5px 0 #fff, -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px .5px 0 #fff, .5px .5px 0 #fff;
    color: #1D1B19!important;
  }


  .event-txt ul {
    list-style: none;
  }

  .event-txt ul li::before {
    content: '';
    position: absolute;
    left: -2em;
    top: 1px;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 27.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0 --%3E%3Csvg version='1.1' id='Layer_2_0000004…_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 614.5 629.7' style='enable-background:new 0 0 614.5 629.7;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cg id='ephemera-e'%3E%3Cg id='ephemera-e-2'%3E%3Cpath class='st0' d='M613,0.8l0.3-0.8H438l0,0.1C296.7,6.9,32.1,9.9,0.7,184.4C-7.2,244.3,53,305.7,115.7,306 c46.3,7,123.8-40.8,80.4-88.4c-10,46.7-73.6,13.6-56.9-29.7C178.2,91.4,308.6,52,413.6,39.9l-0.5,0.8l1.2-0.8 c0,0,31.4-3.2,41.5-2.2l-7.9,14c0,0-22.8-0.4-45.3,4.2c-73.3,113.7-217.1,294-261.5,419.6c-15.1,74.2,21,156.6,104,154.1 c114.3-1.7,192.4-117.1,233-225.7l-20.2-0.4c-9.4,35.5-101.4,139.8-148.5,82.5c-11.7-13.9-1.7-37.2,7.1-49.9 c12.3-25.7,58.9-126,71.1-149.4h113.2l36.7-95.4h-96.9l54.5-95.8c28.9,0.1,53.1,8.4,41.6,39h27.4L612.8,1.2l1.7-0.5H613z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A);
}